        body{
            background-position-x: center;
            background-image:  url("/descubra-sua-celula/quadranga.jpg");
            background-repeat: no-repeat;
            background-size: 2000px;
            background-color: black;

        }

        header {
            text-align: center;
            font: bold 30pt Arial;
            color: white;
            margin-top: 220px;
            
        }

        section {
            background-color: #000000c5;
            border-radius: 10px;
            padding: 250px;
            width: 700px;
            margin: auto;
            box-shadow: 5px 5px 10px #362e2e;
            margin-top: 00px;
           /* background-image: url("/descubra-sua-celula/quadranga.jpg");
            background-repeat: no-repeat;
            background-position-x: center;
            background-size: 720px;
            
           /*margin-top: 250px;*/
        }

        p {
            font: normal 40pt Arial black;
            color: #000000;
            text-align: center;
            margin-top: 100px;
            margin-block-end: 100px;

        }

        h2 {
            font: normal 45pt Arial black;
            color: #ffffff;
            text-align: center;
            margin-top: 100px;
            margin-block-end: 100px;
        }

        input#name {
            font: bold 35pt Arial black;
            color: #ffffff;
            background-color: #a1999979;
            border-radius: 1000px;
            width: 650px;
            padding: 20px;
            
        }
        
        input#bairro {
            font: normal 40pt Arial;
            color: #000000;
            background-color: #a1999979;
            border-radius: 10px;
            padding: 0px;
        }
        
        select {
            width: 700px;
            padding: 15px;
            font: bold 35pt Arial black;
            border-radius: 50px;
            background-color: #b1dbd4cc;
            font-style: italic;
            text-align: center;
            
        }



        div#res {
            font: normal 45pt Arial;
            color: rgb(0, 0, 0);
            background-color: #ffffffb0;
            border-radius: 25px;
            text-align: center;
            width: 800px;
            margin-left: -40px;
       
            
        }

        input#button {
            background-color: #e79e00fb;
            font: normal 16pt Arial black;
            border-radius: 1000px;
            
        }
        #logo {
            text-align: center;
            margin-top: 100px;
            margin-block-end: 100px;
            border-radius: 50px;
            margin-left: 850px;
        }              
